{{template "base" .}}

{{define "title"}}Make reservation page{{end}}

{{define "content"}}
<div class="container">
    {{$res := index .Data "reservation"}}
    <div class="row">
        <div class="col">
            <h1>Make reservation</h1>
            <p><strong>Reservation Details</strong><br>
                Room Name: {{$res.Room.RoomName}}<br>
                Arrival: {{index .StringMap "start_date"}}<br>
                Departure: {{index .StringMap "end_date"}}<br>
            </p>
            
            <form action="" method="post" class="" novalidate>
                <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
                <input type="hidden" name="start_date" value="{{index .StringMap "start_date"}}">
                <input type="hidden" name="end_date" value="{{index .StringMap "end_date"}}">
                <input type="hidden" name="room_id" value="{{$res.RoomID}}">

                <div class="form-group mt-3">
                    <label for="first_name">First name:</label>
                    {{with .Form.Errors.Get "first_name"}}
                        <label for="error-first_name" class="text-danger">{{ . }}</label>
                    {{end}}
                    <input type="text" name="first_name" id="first_name" class="form-control {{with .Form.Errors.Get "first_name"}} is-invalid {{end}}" required
                        autocomplete="off" value="{{$res.FirstName}}">
                </div>
                <div class="form-group mt-3">
                    <label for="last_name">Last name:</label>
                    {{with .Form.Errors.Get "last_name"}}
                        <label for="error-last_name" class="text-danger">{{ . }}</label>
                    {{end}}
                    <input type="text" name="last_name" id="last_name" class="form-control {{with .Form.Errors.Get "last_name"}} is-invalid {{end}}" required autocomplete="off" value="{{$res.LastName}}">
                </div>
                <div class="form-group  mt-3">
                    <label for="email">Email:</label>
                    {{with .Form.Errors.Get "email"}}
                        <label for="error-email" class="text-danger">{{ . }}</label>
                    {{end}}
                    <input type="email" name="email" id="email" class="form-control {{with .Form.Errors.Get "email"}} is-invalid {{end}}" required autocomplete="off" value="{{$res.Email}}">
                </div>
                <div class="form-group  mt-3">
                    <label for="phone">Phone:</label>
                    {{with .Form.Errors.Get "phone"}}
                        <label for="error-phone" class="text-danger">{{ . }}</label>
                    {{end}}
                    <input type="phone" name="phone" id="phone" class="form-control {{with .Form.Errors.Get "phone"}} is-invalid {{end}}" required autocomplete="off" value="{{$res.Phone}}">
                </div>
                <hr>
                <button type="submit" class="btn btn-primary">Make reservation</button>
            </form>
        </div>
    </div>

</div>
{{end}}